<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/meta') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakończone przetargi</title>
</head>
<body>
    <%- include('components/navbar') %>
    <div class="main-container  container align-middle">
    <h1>Zakończone przetargi</h1>
        
        <%- include('components/tendersList') %>

    </div>
</body>
</html>