<!DOCTYPE html>
<html lang="en">
<head>

    <title>Dodaj nowy przetarg</title>
    <%- include('components/meta') %>
</head>
<body>

    <%- include('components/navbar') %>
    <div class="main-container container align-middle">
        <h1>Przetargi</h1>
        <hr>
        <span class="align-middle">
            <h3>O stronie:</h3>
            <p>
                Aplikacja umożliwiająca instytucjom ogłaszanie przetargów, a następnie zainteresowanym umieszczanie swoich ofert. Po zakończeniu przetargu na jego stronie publikowana jest najlepsza oferta.
            </p>
        </span>
    </div>
</body>
</html>